<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>navbar</title>
</head>

<body>

<nav th:fragment="nav">
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/user-home">KimS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user-home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/party-list" id="party">PARTY</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="/sales">SALES</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/master-sku-list">MASTER SKU</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/raw-sku-list">RAW SKU</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
       
      </ul>
     
      <!-- user icon area -->
      <div style="display: flex; flex-direction: row;">
       <div>
          <a class="nav-link" href="/logout">Logout</a>
       </div>
      
      <div class="d-flex flex-column text-center">
       <img alt="user-icon" th:src="@{/img/user_icon_man.png}" style="height: 29px; width: 32px; border-radius: 50%;">
       <a th:text="${session.user.fName}" style="font-size: 10px; color: white;" ></a>
      </div>
      </div>
      
    </div>
  </div>
</nav>
</nav>

</body>
</html>