*{
	margin: 0;
	padding: 0;
}


.bg{
	background: #EF9A9A;
	
	/* Because of navbar */
	padding-top: 60px;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.bg-card{
	background: #00796B;
}

.round-img{
	border-radius: 50%;
}

.icon-s{
	width: 20px;
	height: 20px;
}

.icon-sm{
	width: 40px;
	height: 40px;
}

.color{
	color: yellow;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

.popup{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup-show{
	visibility: visible;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%) scale(1);
}


@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}