<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<title>Forgotten Password | Can't Log In | KimS</title>
</head>
<body class="bg">

<div class="text-center mt-4">
<h1 class="main-head"><a href="/home" style="color: black;">Forgot Password</a></h1>
</div>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-4 offset-md-4">
		
			<form th:action="${verfiyEmail}?@{/set-password}:@{/verify-email}" method="post">
			
				<!-- Logic for hiding and showing email field only if the email is validated  -->
				
				
				
				  <div class="mb-3">
				    <label for="exampleInputEmail1" class="form-label" th:if="${verfiyEmail}==false">Email address</label>
				    <input type="email" class="form-control" id="email" th:if="${verfiyEmail}==false" name="email" aria-describedby="emailHelp">
				  </div>
				 
				  
				  <!-- Logic for hiding and showing password field only if the email is validated  -->
				  
				  <div class="mb-3">
				    <label for="exampleInputPassword1" th:if="${verfiyEmail}==true" class="form-label">Password</label>
				    <input type="password" class="form-control" th:if="${verfiyEmail}==true" id="password" name="password">
				  </div>
				 
				  <button type="submit" class="btn btn-primary" >
				  <!-- Setting button text based on email validation text  -->
				 <span th:text="${verfiyEmail}?'Set Password':'Verify Email'"></span>
				  </button>
			</form>		
					
		</div>
	</div>
</div>

</body>
</html>