<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" href="css/box-center.css">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<meta charset="UTF-8">
<title>Log in to S.K Enterprises</title>
</head>

<body class="d-flex flex-column">

<div class="text-center row mb-3">
	<h1><a href="#" style="text-decoration: none;">S.K Enterprises</a></h1>
</div>

<div class="con">
	<div class="row">
			<div class="text-center">Log in to S.K Enterprises</div>
		
			<form th:action="@{/login}" method="post" class="p-4">
			
				  <div class="mb-3">
				    <label for="email" class="form-label">Email address</label>
				    <input 
				    type="email" 
				    class="form-control" 
				    id="email"
				    name="email" 
				    placeholder="Email" >
				    
				    
				  </div>
				  
				  
				  <div class="mb-3">
				   <label for="exampleInputPassword1" class="form-label">Password</label>
				    <input 
				    type="password" 
				    class="form-control" 
				    id="password" 
				    name="password"
				    placeholder="**********" >
				    
				  </div>
				
				  <div class="mt-4">
				  <button type="submit" id="login-btn" class="btn btn-primary" >Login</button>
				  </div>
			</form>		
			
			<div class="d-flex text-center" style="justify-content: space-around;">
				<p><a href="/forgot-password" style="text-decoration: none;">Forgotten Password?</a></p>
				<p><a href="/sign-up" style="text-decoration: none;">Sign up</a></p>
			</div>	

	</div>
</div>

</body>

</html>