<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{js/datatables.min.css}">
<script type="text/javascript" th:src="@{js/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js_logics/master_sku_list.js}"></script>
<title>MASTER  SKU</title>
</head>
<body class="bg">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>

<!-- page heading area -->
<div>
<h2 style="text-align: center; padding-top: 20px; font-weight: bolder;" class="blink_me">MASTER SKU TABLE</h2>
</div>

<!-- add button area -->
<div style="display: flex; flex-direction: row-reverse; margin-right: 109px;">
<a type="button" class="btn btn-primary" href="/new-master-sku" ><img class="icon-s me-1 pb-0" alt="" th:src="@{img/plus.png}">New Master SKU</a>
</div>

<!-- table area -->
<div class="mt-2 p-0 container">
			
			<table id="data-table" class="table">
				  <thead class="table-dark">
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col" style="width: 240px; text-align: center;">SKU</th>
				      <th scope="col" style="width: 140px;">HSN</th>
				      <th scope="col" style="text-align: center;">Description</th>				     
				      <th scope="col" style="width: 140px; text-align: center;">Price</th>
				      <th scope="col" style="text-align: center;">Action</th>
				    </tr>
				  </thead>
				  <tbody id="tbody">
				    
				  </tbody>
			</table>

		</div>
		
	<!-- Pop-up box -->

	<div class="container popup" id="pop-box">

		<div class="row">
			<div class="col-md-4 offset-md-4 bg-card p-4" style="border-radius: 6px;">
					<div>
						<div class="d-flex">
							<img alt="warning" src="img/warning.png" class="icon-sm">
							<h2 class="ms-2 text-warning">Warning</h2>
						</div>
						<p class="ms-2 text-warning">Are you sure want to delete?</p>
					</div>
					
					<div style="text-align: center;" class="mt-4">
						<button type="button" class="btn btn-primary" onclick="closePopup()">Cancel</button>
						<button type="button" class="btn btn-primary ms-2" onclick="deleteRowPerformed(this)">Delete</button>
					</div>
			</div>
		</div>
		
	</div>
</body>
</html>