<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css.map">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="css/box-center.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="js_logics/new_party.js"></script>
<title>Add Party</title>
</head>

<body class="d-flex flex-column">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>

<div class="text-center mt-5 mb-3">
	<h1><a href="#" style="text-decoration: none;">New Party</a></h1>
</div>


<div class="row">
		<div class="con" style="width: 600px">
		
		<!-- action="/process-new-party" -->
		
			<form id="party_form" onsubmit="creatParty()">
						
						
				<!-- Row 1 -->
					<div class="row">
					
						<div class="col mb-3" >
							 <label class="form-label">Party Name*</label>
						     <input type="text" class="form-control" name="name" required="required" placeholder="Party Name">					
						</div>	
						
						<div class="col mb-3">
						    <label for="exampleInputEmail1" class="form-label">Mobile No.</label>
						    <input type="number" class="form-control" id="mobile" name="mobile" placeholder="9756xxxxx3">					   
				 		</div>	
					
					</div>
					
				<!-- Row 2 -->
					<div class="row">
					
							<div class="col mb-3" >
								 <label class="form-label">State</label>
							     <input type="text" class="form-control" name="state" placeholder="Uttar Pradesh">					
							</div>	
							
							<div class="col mb-3">
							    <label for="exampleInputEmail1" class="form-label">State Code</label>
							    <input type="number" class="form-control" id="stateCode" name="stateCode" placeholder="20xxx1">					   
					 		</div>	
					
					</div>
					
					
					<!-- Row 3  -->
					<div class="row">
					
							<div class="col mb-3">
							    <label for="exampleInputEmail1" class="form-label">Email address</label>
							    <input type="email" class="form-control" id="email" name="email" placeholder="someone@xyz.com">
						   </div>
							
							<div class="col mb-3">
							    <label for="exampleInputEmail1" class="form-label">GSTIN</label>
							    <input type="text" class="form-control" id="gstin" name="gstin" placeholder="HS123876B">					   
					 		</div>	
					
					</div>
					
					
				
			
				  
				  
				  <div class="form-floating mb-4 mt-4">
					  <textarea class="form-control" placeholder="Leave a comment here" name="address" style="height: 150px"></textarea>
					  <label id="address">Address</label>
				  </div>
				  
				  
				  <!-- hidden fields for default values  -->
				    <input type="text" id="status" hidden="" name="status" value="ACTIVE">
				  
				
				  <div style="text-align: center;">
				  	<button type="submit" class="btn btn-primary" >Add Party</button>				  
				  </div>
			</form>		
					
		</div>
	</div>

</body>
</html>