<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js_logics/master_sku.js}"></script>
<title>New Master SKU</title>
</head>
<body class="bg">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>

<div class="container text-center pt-3">
	<h1>New Master SKU</h1>
</div>

<div class="container mt-2">

<div class="row">
		<div class="col-md-8 offset-md-2 bg-card p-3" style="border-radius: 10px;">
		
			<form th:action="@{/create-master-sku}" method="post" id="order_form">
					
					<div id="order_row">
					   		
					   		
					   		<!-- Master SKU Title -->
					   		<div class="row p-2">
					   					<div class="col-6">
					   					
					   						<label class="mb-2">SKU Title</label>
									    	<input class="form-control" required="required" name="masterSkuTitle" id="masterSkuTitle" placeholder="Title"/>
												
					   					</div>
					   					
					   					<div class="col-6">
					   					
					   						<label class="mb-2">Price</label>
									    	<input type="number" class="form-control" required="required" name="masterSkuPrice" id="masterSkuPrice" placeholder="Price"/>
												
					   					</div>									   							   		
					      	 </div>
					      	 
					      	 <div class="row p-3">	
							   	<label class="mb-2 color" >Description</label>					   		 
								<textarea class="form-control mb-2" style="height: 150px" name="masterSkuDescription" placeholder="Item description."></textarea>
							 </div>
					   		
					   		
					   	<!-- Table for Products -->
						<table class="table">
							  <thead>
							    <tr>							     
									<th>Item SKU</th>
									<th>Quantity</th>
									<th></th>																		
									<th><button class="btn btn-warning" type="button" onclick="addRow()">+</button></th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td>
							      		<select class="form-select" name="rawSku" id="rawSku" >
											  <option selected>Select a product</option>
											  <option th:each="rawSku: ${session.rSkuList}" th:value="${rawSku.name}" th:text="${rawSku.name}"/>
										</select>
							      </td>							      
							      <td><input type="number" class="form-control" id="rawskuquantity" name="rawskuquantity" placeholder="eg. 5"></td>							      
							      <td></td>
							      <td><button class="btn btn-warning" type="button"	onclick="removeRow(this)">-</button></td>							      
							    </tr>
							  </tbody>
						</table>
					   		
					   		

				    </div>	
	
					<div style="text-align: center;" class="mt-4">
					  	<input type="submit" class="btn btn-primary" value="Create Master"/>				  
					</div>
							  
				</form>	
			</div>			
		</div>
	</div>

</body>
</html>