<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" href="css/box-center.css">
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{js/datatables.min.css}">
<script type="text/javascript" th:src="@{js/datatables.min.js}"></script>
<script type="text/javascript" src="js_logics/new_raw_sku.js"></script>
<title>NEW :: RAW SKU</title>
</head>
<body>
<div class="con">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>
		
			<form id="new_raw">
			
					<div class="row text-center p-3">
						<h2>NEW RAW SKU</h2>
					</div>
				
					<div class="row">
						
							<div class="input-group mb-3">
								  <span class="input-group-text" style="width: 100px; font-weight: bold;">Name</span>
								  <input type="text" class="form-control" id="name" name="name" placeholder="SKU title">					
							</div>	
							
							<div class="input-group mb-3">							
								  <span class="input-group-text" style="width: 100px; font-weight: bold;">Quantity</span>
								  <input type="number" class="form-control" id="quantity" name="quantity" placeholder="eg 100.">					
							</div>
							
							<div class="input-group mb-3">
							
								  <span class="input-group-text" style="width: 100px; font-weight: bold;">Party</span>
								  <select class="form-control" id="partyId" name="partyId">
									  	<!-- select field to select and party from dropdown list 
									  	     populated by data fetched from backend API response -->								  
								  </select>
								  
							</div>							
					</div>
					
					
						<div class="form-floating">
						  <textarea class="form-control" name="description" id="description" placeholder="Leave a comment here" style="height: 200px"></textarea>
						  <label class="text-danger">Description</label>
						</div>
	
	
						<div style="text-align: center;" class="mt-4">
					  		<button type="button" onclick="createRawSku()" class="btn btn-primary" >Create Item</button>				  
					  	</div>
					  
				</form>	
		</div>
</body>

</html>