<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/box-center.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<title>New Master SKU</title>
</head>
<body class="d-flex flex-column">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>
<div class="text-center">
	<h3>New Master SKU</h3>
</div>

<div class="con" style="width: 35%">
		
			<form id="new_master_form">
					
					<div id="order_row">					   		
					   		
					   		<!-- Master SKU Title -->
					   		<div class="row p-2">
					   					<div class="col">
					   					
					   						<label class="mb-2">SKU Title*</label>
									    	<input class="form-control" required="required" name="mSkuTitle" id="mSkuTitle" placeholder="Title"/>
												
					   					</div>				   					
					   					
					   					<div class="col">
					   					
					   						<label class="mb-2">HSN</label>
									    	<input type="text" class="form-control" name="mHsn" id="mHsn" placeholder="HSN"/>
					   					
					   					</div>
					   													   							   		
					      	 </div>					     
							 
							 <div class="form-floating p-2">
						  		<textarea class="form-control" name="mSkuDesc" id="mSkuDesc" placeholder="Leave a comment here" style="height: 200px"></textarea>
						  		<label class="text-danger">Description</label>
							</div>
					   		
					   		
					   	<!-- Table for Products -->
						<table class="table">
							  <thead>
							    <tr>							     
									<th>Item SKU</th>
									<th>Quantity</th>
									<th></th>																		
									<th><button class="btn btn-warning" type="button" onclick="addRow()">+</button></th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td>
							      		<select class="form-select" name="rSkuIds" id="rSkuIds" >
							      		  <!-- this list will be populated dynamically from the backend response -->
										</select>
							      </td>							      
							      <td><input type="number" class="form-control" value="0" id="ordRawSkuQty" name="ordRawSkuQty" placeholder="eg. 5"></td>							      
							      <td></td>
							      <td><button class="btn btn-warning" type="button"	onclick="removeRow(this)">-</button></td>							      
							    </tr>
							  </tbody>
						</table>
					   		
					   		

				    </div>	
	
					<div style="text-align: center;" class="mt-4">
					  	<input type="button" onclick="createMaster()" class="btn btn-primary" value="Create Master"/>				  
					</div>
							  
				</form>	
			</div>			

<script type="text/javascript" th:src="@{/js_logics/new_master_sku.js}"></script>
</body>
</html>