<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script th:src="@{js/jquery.min.js}"></script>

<title>New Sale Order</title>
</head>
<body class="bg">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>
	
	<div class="container mt-4">
	
		<form action="" method="post">
			
			<div class="card">
				  <div class="card-header text-center"><h4>TAX INVOICE</h4></div>
				  
				  <div class="card-body">
				    
				    <!-- Row 1  -->
				    <div class="row">
				    
				     <!-- Column 1  -->
					    <div class="col-6">
					    	 <div class="input-group mb-3">
								  <h6>DETAILS OF RECEIVERS (BILL TO)</h6>								
							 </div>
					    	  
					    
						      <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="name">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Address</span>
								  <input type="text" class="form-control" placeholder="Address.." name="address">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State</span>
								  <input type="text" class="form-control" placeholder="state" name="state">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="stateCode">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="gstnNo">
							 </div>
							 
					    </div>
					    
					      <!-- Column 2  -->
					      <div class="col-6">
					      
					      	 <div class="input-group mb-3">
								  <h6>DETAILS OF CONSIGNEE (SHIPPED TO)</h6>								
							 </div>
					    	  
					    
						      <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="name">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Address</span>
								  <input type="text" class="form-control" placeholder="Address.." name="address">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State</span>
								  <input type="text" class="form-control" placeholder="state" name="state">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="stateCode">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="gstnNo">
							 </div>
					      
					      </div>
					    
					    
					    <!-- Column 3  -->
					   
					</div>
					
					<!-- GSTIN Details -->
					 <div class="row">
					 	<div class="col-6">
					 	
					 		<div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Inv. No.</span>
								  <input type="number" class="form-control" placeholder="Invoice No." name="invNo">
						  </div>
						  
						  <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Inv. Date.</span>
								  <input type="number" class="form-control" placeholder="Invoice date." name="invDate">
						  </div>
						  
					 	</div>
					      
					      <div class="col-6">
					 	
					 		<!-- left blank -->
						  
					 	  </div>
					       
					      
					      
					 </div>
					
					
					<!-- Table for Particulars -->
						<table class="table table-bordered" id="order-table">
							  <thead class="table-dark">
							    <tr>							     
									<th class="text-center">SKU</th>
									<th class="text-center">Particulars</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Price</th>
									<th class="text-center">Amount</th>
									<th class="no-print">
									<img alt="add button" th:src="@{/img/plus.png}" class="icon-s" onclick="addRow()"></img>
									</th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td>
							      		<select class="form-select masterSku" name="masterSku" id="masterSku" onchange="setDesc(this)">
											  <option selected>Select a product</option>
											  <option id="mSku_selected" th:each="mSku: ${session.mSkuList}" th:name="mSku[]" th:text="${mSku.masterSkuTitle}"/>
										</select>
							      </td>							      
								  <td><input class="form-control particulars" type="text" name="particulars"></td>
							      <td><input class="form-control qty" type="number" name="qty" onchange="cal(this)"></td>
							      <td><input class="form-control price" type="number" name="price" onchange="cal(this)"></td>
							      <td><input class="form-control amount" type="number" name="amount" readonly="readonly"></td>
							      <td class="no-print"><img alt="delete row" th:src="@{img/minus_btn.png}" class="icon-s" onclick="removeRow(this)">
							      </td>							      
							    </tr>
							  </tbody>
						</table>
					
					
					
					<!-- Footer Area  -->
					<div class="row">
					    <div class="col-8">
					     <!--  Column to make a space empty -->
					    </div>
					    
					    <div class="col-4">
					      
							<div class="input-group mb-3">
								  <span class="input-group-text">Total</span>
								  <input type="number" class="form-control" readonly="readonly" name="fTotal" id="fTotal">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text">CGST %</span>
								  <input type="number" class="form-control" id="fcgst" name="fcgst" onchange="calGST()">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >SGST %</span>
								  <input type="number" class="form-control" id="fsgst" name="fsgst" onchange="calGST()">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >IGST %</span>
								  <input type="number" class="form-control" id="figst" name="figst" onchange="calGST()">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >G.Total</span>
								  <input type="number" class="form-control" id="fgTotal" readonly="readonly" name="fgTotal">
							 </div>

					    </div>
					    
					    
					</div>
					
					<!-- Checkout button -->
					<div class="text-center">
						<button type="button" class="btn btn-primary me-3" onclick="goPrint()" >Print</button>
						<button type="button" class="btn btn-primary">Checkout</button>
					</div>				    
				   
				 </div>
				  
			</div>			
					
		</form>
	</div>

</body>
<script>
	
	function addRow(){
		
		/* cloning the whole row */
		var v = $('#trow').clone().appendTo('#tbody');
		
		
		/* clearing newly created input and textareas */
		$(v).find("input").val('');
		
	}
	
	
	
	
	
	function removeRow(e){
			/* finding row index before removing it */
			subtractDeletedAmount(e);
			/* Recalculating GST if row is deleted */
			calGST();
			
			$(e).parent().parent().remove();
    	}
	
	
	
	
	
	
	/* function to recalculate Total Amount if a raw is deleted */
	function subtractDeletedAmount(e){
		let index = $(e).parent().parent().index();
		let amt = document.getElementsByName("amount")[index].value;
		let fTotal = document.getElementById("fTotal").value;
		let newValue = fTotal-amt;
		document.getElementById("fTotal").value = newValue;
	}
	
	
	
	
	
	/* Checking we can create invoice for entered SKU quantity  */
	function checkMasterSkuQuantity(e){
		let index = $(e).parent().parent().index();
		let qty = parseInt(document.getElementsByName("qty")[index].value)
	}
	
	
	
	
	/* function called when any change is done in any price or quantity field */
	function cal(e){
		
		/* finding row index */
		let index = $(e).parent().parent().index();
		let amt = parseInt(document.getElementsByName("qty")[index].value)*parseInt(document.getElementsByName("price")[index].value);
		document.getElementsByName("amount")[index].value = amt;
		
		/* Checking whether enterd quantity is available  */
		checkMasterSkuQuantity(e);
		/* Setting total  */
		setTotal();
		/* calculatin CGST on every change  */
		calGST();
	}
	
	
	
	
	/* Get Total */
	function setTotal(){
		let sum=0;
		let amounts = document.getElementsByName("amount");
		for(let i=0; i<amounts.length; i++){
			sum = sum + +(amounts[i].value);
		}
		document.getElementById("fTotal").value=sum;
	}
	
	
	
	
	/* Calculating CGST */
	function calGST(){
		
		let fTotal = document.getElementById("fTotal").value;
		
		let fcgst =0;
		let fsgst =0;
		let figst =0;
		fcgst= document.getElementById("fcgst").value;
		fsgst= document.getElementById("fsgst").value;
		figst= document.getElementById("figst").value;
		let newCgst = (fcgst*fTotal)/100;
		let newfSgst = (fsgst*fTotal)/100;
		let newfIgst = (figst*fTotal)/100;
		
		document.getElementById("fgTotal").value = (+(fTotal)+ +(newCgst)+ +(newfSgst) + +(newfIgst));
	}
	
	
	
	
	
	/* Setting description  */
	function setDesc(e){
		let index = $(e).parent().parent().index();
		let x = document.getElementsByName("masterSku")[index].value;
		
		/* making an ajax call to retreive data from database by sending a request to controller */
				$.ajax({
			            type: 'POST',
			            url: '/get-mSku-desc',
			            data: {'title':x},
			            success: function (data, textStatus ,jqXHR) {
			                //console.log("Success block: "+data)
			                document.getElementsByName("particulars")[index].value=data;
			                $('textarea').val(data);
			            },
			            error: function (jqXHR, textStatus, errorThrown) {
			            	console.log("Error block: "+errorThrown)
			            }
		        });
	}
	
	
	
	
	/* function to print invoice */
	function goPrint(){
		window.print();
	}
	
</script>


<!-- For media print related tasks  -->
<style>
@media print {

	/* hiding these elements at the time of print */
	.btn, .no-print{
		display: none;
	}
	
	/* Removing border */
	.form-control, .form-select, .input-group-text {
		border: 0px;
	}
	
	.input-group-text{
		border: 0px;
		background: none;
	}
}

	.input-group-text{
		width: 95px;
	}

</style>
</html>