<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-EN">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css_logics/invoice.css}">
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js_logics/invoice.js}"></script>

<title>INVOICE</title>
</head>
<body class="bg">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>
	
	<div class="container mt-4">
	
		<form action="" method="post">
			
			<div class="card">
				  <div class="card-header text-center"><h4>TAX INVOICE</h4></div>
				  
				  <div class="card-body">
				    
				    <!-- Row 1  -->
				    <div class="row">
				    
				     <!-- Column 1 Billed To -->
					    <div class="col-6">
					    	 <div class="input-group mb-3">
								  <h6>DETAILS OF RECEIVERS (BILL TO)</h6>								
							 </div>
					    	  
					    
						      <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="name">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Address</span>
								  <input type="text" class="form-control" placeholder="Address.." name="address">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State</span>
								  <input type="text" class="form-control" placeholder="state" name="state">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="stateCode">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="gstnNo">
							 </div>
							 
					    </div>
					    
					    
					    
					      <!-- Column 2 Shipped To -->
					      <div class="col-6">
					      
					      	 <div class="input-group mb-3">
								  <h6>DETAILS OF CONSIGNEE (SHIPPED TO)</h6>								
							 </div>
					    	  
					    
						      <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="name">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Address</span>
								  <input type="text" class="form-control" placeholder="Address.." name="address">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State</span>
								  <input type="text" class="form-control" placeholder="state" name="state">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="stateCode">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="gstnNo">
							 </div>					  
					      	
					      </div>
					    
					    
					    <!-- Column 3  -->
					   
					</div>
					
					<!-- GSTIN Details -->
					 <div class="row">
					 	<div class="col-6">
					 	
					 		<!-- value of this field to be generated dynamically -->
					 		<div class="input-group mb-3 d-none">
								  <span class="input-group-text" id="basic-addon1">Inv. No.</span>
								  <input type="number" class="form-control" placeholder="Invoice No." name="invNo">
						  </div>
						  
						  <div class="input-group mb-3">
								  <span class="input-group-text" id="basic-addon1">Inv. Date.</span>
								  <input type="number" class="form-control" placeholder="Invoice date." name="invDate">
						  </div>
						  
					 	</div>
					      
					      <div class="col-6">
					 	
					 		<!-- left blank -->
						  
					 	  </div>
					       
					      
					      
					 </div>
					
					
					<!-- Table for Particulars -->
						<table class="table table-bordered" id="order-table">
							  <thead class="table-dark">
							    <tr>							     
									<th class="text-center">HSN</th>
									<th class="text-center">SKU</th>
									<th class="text-center">Particulars</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Price</th>
									<th class="text-center">Amount</th>
									<th class="no-print">
									<img alt="add button" th:src="@{/img/plus.png}" class="icon-s" onclick="addRow()"></img>
									</th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td><input class="form-control particulars" type="text" name="hsn" id="hsn"></td>
							      <td>
							      		<select class="form-select masterSku" name="masterSku" id="masterSku" onchange="setDesc(this)">
											  <option selected>Select a product</option>
											  <option id="mSku_selected" th:each="mSku: ${session.mSkuList}" th:name="mSku[]" th:text="${mSku.masterSkuTitle}"/>
										</select>
							      </td>							      
								  <td><input class="form-control particulars" type="text" name="particulars"></td>
							      <td><input class="form-control qty" type="number" name="qty" onchange="cal(this)"></td>
							      <td><input class="form-control price" type="number" name="price" onchange="cal(this)"></td>
							      <td><input class="form-control amount" type="number" name="amount" readonly="readonly"></td>
							      <td class="no-print"><img alt="delete row" th:src="@{img/minus_btn.png}" class="icon-s" onclick="removeRow(this)">
							      </td>							      
							    </tr>
							  </tbody>
						</table>
					
					
					
					<!-- Footer Area  -->
					<div class="row">
					    <div class="col-8">
					     <!--  Column to make a space empty -->
					    </div>
					    
					    <div class="col-4">
					      
							<div class="input-group mb-3">
								  <span class="input-group-text">Total</span>
								  <input type="number" class="form-control" readonly="readonly" name="fTotal" id="fTotal">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text">CGST %</span>
								  <input type="number" class="form-control" id="fcgst" name="fcgst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" class="form-control bg-light" id="fcgstAmt" name="fcgstAmt" readonly="readonly">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >SGST %</span>
								  <input type="number" class="form-control" id="fsgst" name="fsgst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" class="form-control bg-light" id="fsgstAmt" name="fsgstAmt" readonly="readonly">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >IGST %</span>
								  <input type="number" class="form-control" id="figst" name="figst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" class="form-control bg-light" id="figstAmt" name="figstAmt" readonly="readonly">
							 </div>
							 
							  <div class="input-group mb-3">
								  <span class="input-group-text" >Courier Ch.</span>
								  <input type="number" class="form-control" id="courierCharges" name="courierCharges" onchange="calGST()">
							 </div>
							 
							 <div class="input-group mb-3">
								  <span class="input-group-text" >G.Total</span>
								  <input type="number" class="form-control" id="fgTotal" readonly="readonly" name="fgTotal">
							 </div>

					    </div>
					    
					    
					</div>
					
					<!-- Checkout button -->
					<div class="text-center">
						<button type="button" class="btn btn-primary me-3" onclick="goPrint()" >Print</button>
						<button type="button" class="btn btn-primary btn-status">Checkout</button>
					</div>				    
				   
				 </div>
				  
			</div>			
					
		</form>
	</div>

</body>
</html>