<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-EN">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css_logics/invoice.css}">
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js_logics/invoice.js}"></script>

<title>INVOICE</title>
</head>
<body class="bg">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>
	
	<div id="main_container">
	
		<form action="/sales-invoice" method="post">
			
			<div class="card">
				  <div class="card-header">
				  
				  	<div class="row">
				  		<div class="col">
				  			<div class="d-flex">
				  				<label style="font-weight: bold;">GSTIN:</label>				  				
				  				<p class="ms-2" id="companyGstin"></p>
				  				<input hidden="hidden" name="companyGstin" id="hcompanyGstin">
				  			</div>
				  			
				  			<div>
				  				<img alt="company-logo" style="height: 69px;" th:src="@{/img/ske_logo.png}">
				  			</div>
				  			
				  		</div>
				  		
				  		<div class="col text-center">
				  			<h4 style="text-decoration: underline;">TAX INVOICE</h4>
				  			<h5 id="companyName" class="text-danger"></h5>
				  			<input id="hcompanyName" name="companyName" hidden="hidden">
				  			<p id="companyAddress"></p>
				  			<input id="hcompanyAddress" name="companyAddress" hidden="hidden">
				  		</div>
				  		
				  		<div class="col d-flex">
				  			<div class="col d-flex flex-column">
					  			<label style="font-weight: bold;">Mobile:</label>
					  			<label style="font-weight: bold;">Office:</label>
					  			<label style="font-weight: bold;">Invoice Number <em>#</em></label>
				  			</div>
				  			
				  			<div class="col d-flex flex-column">
				  				<label id="companyMobile"></label>
					  			<label id="additionalContactNo" class="pe-2"></label>
					  			<label id="invoiceNumver"></label>
					  			
					  			<!-- Hidden Fields for database (Arun Datt Kaushik) -->
					  			<input id="hcompanyMobile" hidden="hidden" name="companyMobile">
					  			<input id="hadditionalContactNo" hidden="hidden" name="additionalContactNo">
					  			
				  			</div>
				  			
				  			
				  		</div>
				  	
				  	</div>				  	
				  				  
				  </div>
				  
				  <div class="card-body">
				    
				    <!-- Row 1  -->
				    <div class="row">
				    
				     <!-- Column 1 Billed To -->
					    <div class="col-6">
					    	 <div class="input-group mb-2 row">
								  <h6 class="text-center">DETAILS OF RECEIVERS (BILL TO)</h6>								
							 </div>
					    	  
					    	 <div class="d-flex">
								  <input type="checkbox" value="checked" onclick="billToParty(); isBillToAndShipToChecked();" name="billTo_party_chk_box" id="billTo_party_chk_box" style="width: 23px; height: 20px;" class="mt-1 chbox">
								  <p class="ms-2 chbox">Check this box to select from <em> list </em> </p>
						  	 </div>
					    	
						      <div class="input-group mb-2">
						      
						      	  <span class="input-group-text" id="billTo_name_span">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="billToName" id="billToName">						      		
						    
						      	  <select class="form-select" style="display: none" name="select_billTo_party" id="select_billTo_party" onchange="setBillToDetails()">
									 <option selected></option>
									 <option id="billTo_party_selected" th:each="party: ${session.partyList}" th:name="billToParty" th:text="${party.partyName}"/>
								  </select>
								  
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">Address</span>
								  <!-- th:value="${session.billToParty.address}"   -->
								  <input class="form-control" placeholder="Address.." name="billToAddress" id="billToAddress">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">State</span>
								  <input type="text" class="form-control" placeholder="state" name="billToState" id="billToState">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="billToStateCode" id="billToStateCode">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="billToGstInNo" id="billToGstInNo">
							 </div>
							 
					    </div>
					    
					    
					    
					      <!-- Column 2 Shipped To -->
					      <div class="col-6">
					      
					      	 <div class="input-group mb-2 row">
								  <h6 class="text-center">DETAILS OF CONSIGNEE (SHIPPED TO)</h6>								
							 </div>
					    	  
					    		
					    	 <div class="d-flex">
								  <input type="checkbox" onclick="shipToParty(); isBillToAndShipToChecked();" name="shipTo_party_chk_box" id="shipTo_party_chk_box" style="width: 23px; height: 20px;" class="mt-1 chbox">
								  <p class="ms-2 chbox">Check this box to select from <em> list </em> </p>
						  	 </div>
					    
						      <div class="input-group mb-2">
								  <span class="input-group-text" id="shipTo_name_span">Name</span>
								  <input type="text" class="form-control" placeholder="Name" name="shippToName" id="shippToName">
								  
								  <select class="form-select" style="display: none" name="select_shipTo_party" id="select_shipTo_party" onchange="setShipToDetails()">
									 <option selected></option>
									 <option id="billTo_party_selected" th:each="party: ${session.partyList}" th:name="billToParty" th:text="${party.partyName}"/>
								  </select>
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">Address</span>
								  <input type="text" class="form-control" placeholder="Address.." name="shippToAddress" id="shippToAddress">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">State</span>
								  <input type="text" class="form-control" placeholder="state" name="shippToState" id="shippToState">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">State Code</span>
								  <input type="text" class="form-control" placeholder="state_code" name="shippToStateCode" id="shippToStateCode">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">GSTIN No.</span>
								  <input type="text" class="form-control" placeholder="GSTIN Number..." name="shippToGstInNo" id="shippToGstInNo">
							 </div>								  
					      	
					      </div>
					    
					    
					    <!-- Column 3  -->
					   
					</div>
					
					<!-- GSTIN Details -->
					 <div class="row">
					 	<div class="col-6">
					 							  
						  <div class="input-group mb-2">
								  <span class="input-group-text">Inv. Date.</span>
								  <input type="date" class="form-control" placeholder="Invoice date." name="invDate" id="invDate">
						  </div>
						  
					 	</div>
					      
					      <div class="col-6">
					 	
					 		<div class="mb-2 d-flex">
								  <input type="checkbox" onclick="billToShipToCheckBox();" name="billTo_shippTo_chk_box" id="billTo_shippTo_chk_box" style="width: 23px; height: 20px;" class="mt-1 chbox">
								  <p class="ms-2 chbox">Check this box if <em> Bill To </em> & <em> Ship To </em> are same. </p>
						  	</div>
						  
					 	  </div>
					       
					      
					      
					 </div>
					
					
					<!-- Table for Particulars -->
						<table class="table table-bordered" id="order-table">
							  <thead class="table-dark">
							    <tr>							     
									<th class="text-center">HSN</th>
									<th class="text-center">SKU</th>
									<th class="text-center">Particulars</th>
									<th class="text-center">Quantity</th>
									<th class="text-center ce">Price</th>
									<th class="text-center">Amount</th>
									<th class="no-print" style="width: 35px;">
									<img alt="add button" th:src="@{/img/plus.png}" class="icon-s" onclick="addRow()"></img>
									</th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td><input class="form-control particulars" type="text" name="hsn" id="hsn" placeholder="H54BU"></td>
							      <td>
							      		<select class="form-select masterSku" name="masterSku" id="masterSku" onchange="setDesc(this)">
											  <option selected>Select a product</option>
											  <option id="mSku_selected" th:each="mSku: ${session.mSkuList}" th:name="mSku" th:text="${mSku.masterSkuTitle}"/>
										</select>
							      </td>							      
								  <td><input class="form-control particulars h_particulars" type="text" name="particulars" placeholder="Item description" style="height: 38px;"></input></td>
							      <td><input class="form-control qty" type="number" name="qty" onchange="cal(this)"></td>
							      <td><input class="form-control price" type="number" name="price" onchange="cal(this)"></td>
							      <td><input class="form-control amount" type="number" name="amount" readonly="readonly"></td>
							      <td class="no-print"><img alt="delete row" th:src="@{img/minus_btn.png}" class="icon-s" onclick="removeRow(this)">
							      </td>							      
							    </tr>
							  </tbody>
						</table>
					
					
					
					<!-- Footer Area  -->
					<div class="row">
					    <div class="col-6">
					    
					    	 <div class="input-group mb-3">
								  <label></label>								  
								  <label></label>								  
							 </div>
					    	 <div class="input-group mb-3">
								  <label></label>								  
								  <label></label>								  
							 </div>
					    
					    	 <div class="input-group mb-3">
								  <label style="font-weight: bold;">Bank Details:</label>								  
								  <label class="ms-2" id="bankName">Bank Details: </label>
								  <input id="hbankName" name="bankName" hidden="">								  
							 </div>
							 <div class="input-group mb-3">
								  <label style="font-weight: bold;">Bank Account Number:</label>								  
								  <label class="ms-2" id="bankAccountNo">Bank Details: </label>	
								  <input id="hbankAccountNo" hidden="hidden" name="bankAccountNo">							  
							 </div>
							 <div class="input-group mb-3">
								  <label style="font-weight: bold;">Bank Branch IFSC:</label>								  
								  <label class="ms-2" id="bankIFSC">Bank Details: </label>
								  <input id="hbankIFSC" name="bankIFSC" hidden="hidden">								  
							 </div>
					     
					    </div>
					    
					    <div class="col">
					    
					    </div>
					    
					    
					    
					    <div class="col-3" id="total_col">
					      
							<div class="input-group mb-2">
								  <span class="input-group-text">Total</span>
								  <input type="number" class="form-control" readonly="readonly" name="fTotal" id="fTotal">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text">CGST %</span>
								  <input type="number" value="0" step=any class="form-control" id="fcgst" name="fcgst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" value="0" class="form-control bg-light" id="fcgstAmt" name="fcgstAmt" readonly="readonly">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text" >SGST %</span>
								  <input type="number" value="0" step=any class="form-control" id="fsgst" name="fsgst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" value="0" class="form-control bg-light" id="fsgstAmt" name="fsgstAmt" readonly="readonly">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text" >IGST %</span>
								  <input type="number" value="0" step=any class="form-control" id="figst" name="figst" onchange="calGST()">
								  
								  <span class="input-group-text" style="width: 50px" >Rs</span>
								  <input type="number" value="0" class="form-control bg-light" id="figstAmt" name="figstAmt" readonly="readonly">
							 </div>
							 
							  <div class="input-group mb-2">
								  <span class="input-group-text" >Courier Ch.</span>
								  <input type="number" value="0" class="form-control" id="courierCharges" name="courierCharges" onchange="calGST()">
							 </div>
							 
							 <div class="input-group mb-2">
								  <span class="input-group-text" >G.Total</span>
								  <input type="number" class="form-control" id="fgTotal" readonly="readonly" name="fgTotal">
							 </div>

					    </div>
					    
					</div>
					
					<!-- Terms & Conditions -->
					<div class="row mb-2 " style="border: 2px solid black; border-radius: 6px;">
					
						<div class="col-9 mb-3">
								  <label style="font-weight: bold;">Terms & Conditions</label>								  
								  <label style="text-align: justify;" id="termsAndCondtions"></label>
								  <input id="htermsAndCondtions" name="termsAndCondtions" hidden="hidden">								  
						</div>
						
						<div class="col text-center" style="display: flex; flex-direction: column; justify-content: space-between;">
								  <label class="text-danger" style="font-weight: bold; font-size: small;" id="for-authorized-signature"></label>								  
								  <label style="font-weight: bold; font-size: small;">Authorized Signatory</label>								  
						</div>
						
					</div>
					
					<!-- Checkout button -->
					<div class="text-center">
						<button type="button" class="btn btn-primary me-3" onclick="goPrint()" >Print</button>
						<button type="submit" class="btn btn-primary btn-status">Checkout</button>
					</div>				    
				   
				 </div>
				  
			</div>			
					
		</form>
	</div>

</body>
</html>