<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/box-center.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<title>New Master SKU</title>
</head>
<body class="d-flex flex-column">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>
<div class="text-center">
	<h3>New Master SKU</h3>
</div>

<div class="con" style="width: 35%">
		
			<form id="new_master_form" onsubmit="submitForm();redirectTo();">
					
					<div id="order_row">					   		
					   		
					   		<!-- Master SKU Title -->
					   		<div class="row p-2">
					   					<div class="col">
					   					
					   						<label class="mb-2">SKU Title*</label>
									    	<input class="form-control" required="required" name="masterSkuTitle" id="masterSkuTitle" placeholder="Title"/>
												
					   					</div>				   					
					   					
					   					<div class="col">
					   					
					   						<label class="mb-2">HSN</label>
									    	<input type="text" class="form-control" name="hsn" id="hsn" placeholder="HSN"/>
					   					
					   					</div>
					   													   							   		
					      	 </div>
					      	 
					      	 <div class="row p-3">	
							   	<label class="mb-2" >Description</label>					   		 
								<textarea class="form-control mb-2" style="height: 150px" name="masterSkuDescription" placeholder="Description."></textarea>
							 </div>
					   		
					   		
					   	<!-- Table for Products -->
						<table class="table">
							  <thead>
							    <tr>							     
									<th>Item SKU</th>
									<th>Quantity</th>
									<th></th>																		
									<th><button class="btn btn-warning" type="button" onclick="addRow()">+</button></th>
							    </tr>
							    
							  </thead>
							  <tbody id="tbody">
							    <tr id="trow">
							      <td>
							      		<select class="form-select" name="rawSku" id="rawSku" >
							      		
											  <option selected>Select a product</option>
										
										</select>
							      </td>							      
							      <td><input type="number" class="form-control" id="rawskuquantity" name="rawskuquantity" placeholder="eg. 5"></td>							      
							      <td></td>
							      <td><button class="btn btn-warning" type="button"	onclick="removeRow(this)">-</button></td>							      
							    </tr>
							  </tbody>
						</table>
					   		
					   		

				    </div>	
	
					<div style="text-align: center;" class="mt-4">
					  	<input type="submit" class="btn btn-primary" value="Create Master"/>				  
					</div>
							  
				</form>	
			</div>			

<script type="text/javascript" th:src="@{/js_logics/new_master_sku.js}"></script>
</body>
</html>