<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{js/datatables.min.css}">
<script type="text/javascript" th:src="@{js/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{js_logics/raw_sku.js}"></script>

<title>Raw SKU</title>
</head>
<body class="bg">
<nav th:insert="~{fragments/navbar.html::nav}"></nav>

<!-- page heading area -->
<div>
<h2 style="text-align: center; padding-top: 20px;">ITEM SKU TABLE</h2>
</div>

<!-- add button area -->
<div style="display: flex; flex-direction: row-reverse; margin-right: 110px">
<a type="button" class="btn btn-primary" href="/new-raw-sku" ><img class="icon-s me-1 pb-0" alt="" th:src="@{img/plus.png}">ADD SKU</a>
</div>

<!-- table area -->
<div class="mt-2 p-0 container">
			
			<table class="table" id="data-table">
				  <thead class="table-dark"> 
				    <tr>
				      <th scope="col" class="text-center">ID</th>
				      <th scope="col" class="text-center">ITEM SKU</th>
				      
				      <th scope="col" class="text-center">Party</th>
				      <th scope="col" class="text-center">PRICE/UNIT</th>
				      <th scope="col" class="text-center">AVAILABLE IN STOCK</th>
				      <th scope="col" class="text-center">DESCRIPTION</th>				      
				      <th scope="col" style="text-align: right;">ACTION</th>				      
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="rSku : ${session.rSkuList}">
				      <th scope="row" th:text="${rSku.id}" style="text-align: center;"/>
				      <td>
				      <a th:href="@{/#?rSku_id=}+${rSku.id}" th:text="${rSku.name}" style="text-decoration: none; color: black;"></a>
				      </td>				      
				      
				      <td th:text="${rSku.party_list}" style="text-align: center;"/>
				      <td th:text="${rSku.price_per_unit}" style="text-align: center;"/>	
				      <td th:text="${rSku.quantity}" style="text-align: center;"/>	
				      <td th:text="${rSku.description}"/>	
				      
				      <!-- Action Column  -->			
				      <td style="text-align: right;">
				      
				      <!-- Pending for fix  -->				      
				      <a th:href="@{/delete_rawsku?rawsku_id=}+${rSku.id}"><img alt="delete-btn" th:src="@{/img/delete.png}" class="icon-s"></a>
					  <a th:href="@{#}"><img alt="edit-icon" th:src="@{/img/edit.png}" class="icon-s"></a>      
				      </td>
				    </tr>
				  </tbody>
				  
				</table>

		</div>
</body>

</html>