<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<title>Summary :: Master SKU</title>
</head>
<body class="bg">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>

	<div class="container text-center pt-3">
		<h1>Master Details</h1>
	</div>

	<div class="container mt-3">

		<div class="row">
			<div class="col-md-6 offset-md-3 bg-card p-4"
				style="border-radius: 10px;">
				
					<!-- Master SKU Title -->
					<div class="row">

						
							<div class="col">
								<label class="mb-2 color">SKU Title</label> 
								
								<input
									class="form-control mb-2" 
									readonly="readonly"
									th:value="${mSummary.masterSkuTitle}" />
							</div>

							<div class="col">
								<label class="mb-2 color">SKU Price</label> 
								
								<input
									class="form-control mb-2"
									readonly="readonly"
									th:value="${mSummary.masterSkuPrice}" />
							</div>
							
							<div class="col">
								<label class="mb-2 color">HSN</label> 
								
								<input
									class="form-control mb-2"
									readonly="readonly" 									
									th:value="${mSummary.hsn}" />
							</div>

					</div>	

						<div >
							<label class="mb-2 color">Description</label>
							
							<textarea 
								readonly="readonly" 
								class="form-control mb-2"
								th:text="${mSummary.masterSkuDescription}"
								style= "height: 123px;">
							</textarea>
						</div>

					


					<!-- Product Row -->
					<div class="row">

						<div class="mb-2 col-6">
							<label class="mb-2 color">RAW SKU</label> 
							
							<input
								readonly="readonly" class="form-control mb-2"
								th:each="r:${mSummary.rawSku}" th:if="${r} != ''"
								th:value="${r}">
						</div>

						<div class="mb-2 col-6">
							<label class="mb-2 color">Quantity</label> 
							
							<input
								readonly="readonly" type="number"
								class="form-control qty_per_sku mb-2"
								th:each="rq:${mSummary.rawskuquantity}"
								th:if="${rq} != ''" th:value="${rq}">
						</div>

					</div>

			</div>
		</div>
	</div>


<!-- Adding JQuery -->
<script>
$(document).ready(function() {
	
	let ais = [];
	let count = 0;
	
	$('.avl_in_stock').each(function(i,e){
		ais[i] = $(this).val();
		
		$(this).attr("id", "ais_"+i);
		i++;
	})
	
	$('.qty_per_sku').each(function(i,e){
		$(this).attr("id", "qps_"+i);
		
		if(parseInt($('#skuQuantity').val())*parseInt($(this).val()) > ais[i]){
			console.log(i);
			$(this).css('background-color','yellow');
			$(this).addClass('blink_me');
		}
		
	})
	
})		
</script>

</body>
</html>