<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css.map}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<title>Summary :: Master SKU</title>
</head>
<body class="bg">
	<nav th:insert="~{fragments/navbar.html::nav}"></nav>

	<div class="container text-center pt-3">
		<h1>Available Raw SKU Status</h1>
	</div>

	<div class="container mt-3">

		<div class="row">
			<div class="col-md-4 offset-md-4 bg-card p-4"
				style="border-radius: 10px;">

				<form th:action="@{/process-new-master-sku}" method="post"
					id="order_form">


					<!-- Master SKU Title -->
					<div class="d-flex flex-row mb-3">

						<div>
							<div>
								<label class="mb-2 color">SKU Title</label> 
								
								<input
									class="form-control" 
									readonly="readonly"
									th:value="${mSummary.masterSkuTitle}" />
							</div>

							<div class="mt-3">
								<label class="mb-2 color">SKU Quantity</label> 
								
								<input
									class="form-control" 
									readonly="readonly"
									id="skuQuantity"
									th:value="${mSummary.masterSkuQty}" />
							</div>

						</div>

						<div class="ms-2">
							<label class="mb-2 color" style="margin-left: 25px;">Description</label>
							
							<textarea type="text" 
								readonly="readonly" 
								class="form-control"
								th:text="${mSummary.masterSkuDescription}"
								style= "height: 123px;"
								placeholder="PO description goes here.......">
							</textarea>
						</div>

					</div>


					<!-- Product Row -->
					<div class="d-flex flex-row mb-3">

						<div class="mb-2">
							<label class="mb-2 color">RAW SKU 1</label> 
							
							<input
								readonly="readonly" class="form-control"
								th:each="r:${mSummary.rawSku}" th:if="${r} != ''"
								th:value="${r}">
						</div>

						<div class="ms-2 mb-2">
							<label class="mb-2 color">Quantity/SKU</label> 
							
							<input
								readonly="readonly" type="number"
								class="form-control qty_per_sku"
								th:each="rq:${mSummary.rawskuquantity}"
								th:if="${rq} != ''" th:value="${rq}">
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>


<!-- Adding JQuery -->
<script>
$(document).ready(function() {
	
	let ais = [];
	let count = 0;
	
	$('.avl_in_stock').each(function(i,e){
		ais[i] = $(this).val();
		
		$(this).attr("id", "ais_"+i);
		i++;
	})
	
	$('.qty_per_sku').each(function(i,e){
		$(this).attr("id", "qps_"+i);
		
		if(parseInt($('#skuQuantity').val())*parseInt($(this).val()) > ais[i]){
			console.log(i);
			$(this).css('background-color','yellow');
			$(this).addClass('blink_me');
		}
		
	})
	
})		
</script>

</body>
</html>