
@media print {

	/* hiding these elements at the time of print */
	.btn, .no-print{
		display: none;
	}
	
	.navbar, .navbar-expand-lg, .bg-dark{
		display: none;
	}
	
	/* Removing border */
	.form-control, .form-select, .input-group-text {
		border: 0px;
	}
	
	.input-group-text{
		border: 0px;
		background: none;
	}
	
	.chbox{
		display: none;
	}

	.h_particulars{
		width: 250px;
		height: 350px;
	}
	
	#total_col{
		margin-right: 30%;
	}
	
	
	
	
	
	
}

	.input-group-text{
		width: 95px;
	}
	
	